<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <title>Login</title>
</head>
<body>

 
<div class="col-xl-5 col-lg-4 col-md-8 col-sm-10 mx-auto  form p-4">
    <a href="/" class="btn btn-primary">Home</a ><hr>
    <h1>Login</h1>
    <hr>


<form method="POST" class="justify-content-center">
    {% csrf_token %}
    {{form.as_p}}

    <input type="submit" name="submit" value="Login" class="btn btn-success">
</form>
</div>
</body>
</html>